html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #000428, #004e92);
    color: white;
    display: flex;
    flex-direction: column;
}